.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.yellow-text {
  color: #dbd490;
}
.yellow-line {
  border-color: yellow;
}

.selected img {
  opacity: 0.5;
}
.custom-bg-color {
  background-color: #5e7877;
}

.register {
  background-color: #f5f5f5;
}
.contact {
  background-size: cover;
  padding: 50px;
}
.control-container {
  background-color: #adb5bd;
  height: 300px;
  margin: 0 auto;
  width: 500px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  // overflow: visible !important;
}
.card-title {
  font-family: righteous;
  font-size: 34px;
}

.carousel-inner .col-md-2 {
  flex: 0 0 auto;
  width: 25%;
}
#multiItemCarousel img {
  width: 100%;
  height: auto;
}

.carousel-inner .col-md-2 img {
  width: 100%;
  margin-bottom: 10px;
}
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-height: 100%;
}

.services-offer {
  size: 24px;
  width: 191px;
  height: 36px;
  line-height: 36px;
  color: #f9ffff;
}

.header .artboard {
  top: 5px;
  left: 571px;
  width: 869px;
  height: 450px;
}
.dark-text {
  color: #000;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lead-text {
  font-family: Righteous;
  font-size: 60px;
  font-weight: 400;
  line-height: 74.5px;
}
.global {
  font-family: Righteous;
  font-size: 60px;
  font-weight: 400;
  line-height: 74.5px;
  text-align: center;
}
.register {
  background: #f5f5f5;
}
.meet {
  font-family: Righteous;
  font-size: 60px;
  font-weight: 400;
  line-height: 74.5px;
  text-align: center;
}
.reached {
  font-family: Righteous;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.partners {
  background: #fefeed;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 150px;
}
.form-control {
  text-decoration: none;
}
input {
  background-color: white;
}
.form-group {
  display: flex;
}
.form-group input {
  width: 50%;
}
.form-group input:first-child {
  margin-right: 25px;
}

.form-control {
  border: 1px solid #1c706b;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: black;
  font-family: poppins;
}

.no-underline {
  text-decoration: none;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }

  .navbar {
    .btn-outline-secondary {
      margin-top: 20px;
    }
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}
